.bar {
  font-family: "FiraCode Nerd Font";
  background-color: #282c34;
  color: white;
  border-radius: 12px;
  padding: 8px;
}

.bar-widget {
  background-color: #5c6370;
  border-radius: 4px;
  padding: 4px;
  margin: 0px 4px;
}
