.bar {
  font-family: "FiraCode Nerd Font";
  background-color: #282c34;
  color: white;
  border-radius: 12px;
  padding: 8px;
}

.bar-widget {
  background-color: #5c6370;
  border-radius: 8px;
  padding: 4px 6px;
}

.workspaces-widget {
  .workspace-entry {
    border-radius: 6px;
    padding: 4px 6px;
    margin: 0px 2px;

    &.empty {
      color: #5c6370;
    }
    &.primary {
      background-color: #61afef;
    }
    &.secondary {
      background-color: #5c6370;
    }
  }
}
