.bar_one,
.bar_zero {
  background-color: transparent;
  font-family: "FiraCode Nerd Font";
  font-size: 14px;
}

.bar-widget {
  background-color: #282c34;
  color: white;
  border-radius: 8px;
  padding: 4px 6px;
}

.workspaces-widget {
  padding: 4px;

  .workspace-entry {
    border-radius: 6px;
    padding: 4px 6px;
    margin: 0px 2px;

    &.empty {
      color: #5c6370;
    }
    &.primary {
      background-color: #61afef;
    }
    &.secondary {
      background-color: #5c6370;
    }
  }

  > :nth-child(1) > .workspace-entry {
    margin: 0px 2px 0px 0px;
  }
  > :nth-last-child(1) > .workspace-entry {
    margin: 0px 0px 0px 2px;
  }
}
