.background {
  background: transparent;
}

.bar {
  font-size: 16px;
  font-weight: bold;
  background: black;
  color: white;
  margin: 8px;
  margin-bottom: 0px;
  border-radius: 12px;
}

.workspaces button {
  background: transparent;
  font-size: 24px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
  padding-right: 8px;
  margin: 4px;
  margin-right: 0px;
  border-radius: 8px;
}

.workspaces button:hover {
  background: #111111;
}

.workspaces button.focused {
  background: white;
  color: black;
}

.workspaces button.focused:hover {
  background: #eeeeee;
}

.bar .right>:last-child {
  margin-right: 8px;
}

.bar .right button {
  background: transparent;
}

.bar .right .battery {
  margin-left: 4px;
}

.bar .right .battery .icon {
  margin-right: 4px;
}
