spawn-sh-at-startup "noctalia"
spawn-sh-at-startup "gtk-launch chrome-faolnafnngnfdaknnbpnkhgohbobgegn-Default"
spawn-sh-at-startup "gtk-launch chrome-ompifgpmddkgmclendfeacglnodjjndh-Default"
spawn-sh-at-startup "gtk-launch chrome-anklbkmoheakckpelljmbnnoknlnaohm-Default"
