input {
  keyboard {
    xkb {
      layout "us"
      variant "altgr-intl"
      options "caps:super"
    }

    repeat-delay 250

    numlock 
  }

  mouse {
    accel-profile "flat"
  }

  touchpad {
    accel-profile "flat"
    tap
    natural-scroll
    drag-lock
    scroll-factor 0.25
    click-method "clickfinger"
    dwt
  }

  focus-follows-mouse max-scroll-amount="0%"
  warp-mouse-to-focus mode="center-xy-always"
}
