window-rule {
  geometry-corner-radius 20 // Set every window radius to 20
  clip-to-geometry true
}

window-rule {
  match app-id="dev.noctalia.Noctalia"
  open-floating true
  default-column-width { fixed 1080; }
  default-window-height { fixed 920; }
}

layer-rule {
  match namespace="^noctalia-backdrop"
  place-within-backdrop true
}

window-rule {
  match title="Microsoft Teams"
  match title="Outlook"
  match title="Chatwoot"

  open-on-output "eDP-1"
}
